/* app css stylesheet */
h1 {
  font-family: 'Pacifico', 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;;
  margin-top: 50px;
}

.img-logo {
    height: 30px;
}

.img-banner {
  /*background-color: #0FFFFF;*/
  /*background-image: url("../images/banner.jpg");*/
  background: linear-gradient(to bottom right, dodgerblue, greenyellow);
  enable-background: true;
}

.navbar {
  margin: 0px 0px;
  padding: 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}

.select-forbidden {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cut-off {
  margin: 20px 5px;
  border-bottom: 1px solid black;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
