/* app css stylesheet */

.img-logo {
    height: 30px;
}

.img-banner {
  background-image: url("../images/uthapizza.png");
  background-repeat: no-repeat;
}

.navbar {
  margin: 0px 0px;
  padding: 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}



.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
