/* app css stylesheet */

.img-logo {
    height: 30px;
}

.img-banner {
  /*background-image: url("../images/uthapizza.png");
  background-repeat: no-repeat;*/
  background-color: #0FFFFF;
  enable-background: true;
}

.navbar {
  margin: 0px 0px;
  padding: 0px;
}

.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}

.select-forbidden {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
