<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h3>Location Infomation</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <h5>Our address</h5>
      <address>
        {{address.streetAddress}}<br> {{address.secondaryAddress}}
        <br> {{address.city}}
        <br>
        <i class="fa fa-phone"></i>: {{address.phone}}<br>
        <i class="fa fa-fax"></i>: {{address.fax}}<br>
        <i class="fa fa-envelope"></i>: <a href="{{'mailto:' + address.email}}">{{address.email}}</a>

      </address>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <!--<h5>Map of our location</h5>-->
    </div>
    
    <div class="col-xs-12 col-sm-11 col-sm-offset-1">
      <div class="btn-group" role="group" aria-label="...">
        <a href="{{'tel:' + address.phone}}" type="button" class="btn btn-primary">
          <i class="fa fa-phone"> Call</i>
        </a>
        <a href="" type="button" class="btn btn-info">
          <i class="fa fa-skype"> Skype</i>
        </a>
        <a href="{{'mailto:' + address.email}}" class="btn btn-success" type="button">
          <i class="fa fa-envelope-o"> Email</i>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12">
      <h3>Send us your feedback</h3>
    </div>
    
    <div class="col-xs-12 col-sm-9">
      <form class="form-horizontal" role="form" name="feedbackForm" ng-submit="sendFeedback()" novalidate>
        <div class="form-group" ng-class="{'has-error': !feedbackForm.firstname.$pristine && feedbackForm.firstname.$error.required}">
          <label for="firstname" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" name="firstname" value="" 
            class="form-control" id="firstname" placeholder="Enter first name" 
            ng-model="feedback.firstName" required>
            <span ng-show="!feedbackForm.firstname.$pristine && feedbackForm.firstname.$error.required"
             class="help-block">Your FirstName is required</span>
          </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': !feedbackForm.lastname.$pristine && feedbackForm.lastname.$error.required}">
          <label for="lastname" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" name="lastname"
            class="form-control" id="lastname" placeholder="Enter last name" 
            ng-model="feedback.lastName" required>
            <span ng-show="!feedbackForm.lastname.$pristine && feedbackForm.lastname.$error.required"
            class="help-block">Your LastName is required</span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !feedbackForm.telnum.$pristine && feedbackForm.telnum.$invalid}">
          <label for="telnum" class="col-sm-2 control-label">Contact Tel.</label>
          <div class="col-xs-5 col-sm-4 col-md-3">
            <div class="input-group">
              <div class="input-group-addon">(</div>
                <input type="tel" class="form-control"
                  id="areacode" name="areacode" placeholder="Area Code"
                  ng-model="feedback.tel.area"
                >
              <div class="input-group-addon">)</div>
            </div>
          </div>
          
          <div class="col-xs-7 col-sm-6 col-md-7">
            <input type="tel" class="form-control"
              id="telnum" name="telnum" placeholder="Tel. Number"
              ng-model="feedback.tel.number"
            >
            <span ng-show="!feedbackForm.telnum.$pristine && feedbackForm.telnum.$invalid"
            class="help-block">Tel Number Invalid</span>
          </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error has-feedback': !feedbackForm.emailid.$pristine && feedbackForm.emailid.$invalid}">
          <label for="emailid" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control"
              id="emailid" name="emailid" placeholder="Enter Email" 
              ng-model="feedback.email"
              required>
            <span ng-show="!feedbackForm.emailid.$pristine && feedbackForm.emailid.$invalid"
              class="help-block">Email Incorrect i.e. example@foo.com</span>
            <span ng-show="!feedbackForm.emailid.$pristine && feedbackForm.emailid.$invalid"
              class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': invalidSelection}">
          <div class="checkbox col-sm-5 col-sm-offset-2">
            <label class="checkbox-inline">
              <input type="checkbox" name="approve" value="" ng-model="feedback.approve">
              <strong>May we contact you?</strong>
            </label>
          </div>
          
          <div class="col-sm-3 col-sm-offset-1">
            <select class="form-control" ng-model="feedback.mychannel"
              ng-options="channel.value as channel.label for channel in channels">
              <option value="">Tel. or Email?</option>
            </select>
            <span ng-show="invalidSelection" class="help-block">Please select a option</span>
          </div>
        </div>  

        <div class="form-group" ng-class="{'has-error':!feedbackForm.feedback.$pristine && feedbackForm.feedback.$error.required}">
          <label for="feedback" class="col-sm-2 control-label">Your Feedback</label>
          <div class="col-sm-10">
            <textarea name="feedback" id="feedback" rows="10" class="form-control" ng-model="feedback.comment" required></textarea>
            <span ng-show="!feedbackForm.feedback.$pristine && feedbackForm.feedback.$error.required"
              class="help-block">We value your feedback</span>
          </div>
        </div>      
        
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary" ng-disabled="feedbackForm.$invalid" type="submit">Send Feedback</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-3">
      <p style="padding: 20px;"></p>
    </div>
  </div>
</div>